.map-container {
    .info-window {
        padding: 1em;

        img {
            border-radius: 10px;
            border: lightgray solid 1px;
        }

        h2 {
            text-align: center;
            text-decoration: underline;
        }
    }

    p {
        margin: 0.3rem 0;
    }

    img {
        max-width: 200px;
    }

    button {
        margin: 0 0.5rem;
    }

    a {
        color: blue;
        margin: 0.3rem 0;
    }
}
