.profile-container {
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px white solid;
    z-index: 11;
    padding: 1em;

    h2 {
        font-weight: 500;
    }

    .group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    label {
        margin-bottom: 0.5em;
    }

    input {
        padding: 0.4rem;
        font-size: 1.2rem;
        width: 100%;
    }

    span {
        opacity: 50%;
    }

    button {
        padding: 0.5rem 1rem;
        background-color: yellow;
        color: black;
        border: none;
        font-weight: bold;
        border: black solid 2px;
        font-size: 1rem;
    }
}
