.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: #333;
    color: #fff;
    margin: 0;
    width: 100%;
}

ul li {
    margin-right: 2rem;
    padding: 1rem;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.app-links {
    display: flex;
}

.auth-links {
    display: flex;
    align-items: center;
}

button {
    padding: 0.5rem 1rem;
    background-color: yellow;
    font-weight: bold;
    border: black solid 2px;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    ul li a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 720px) {
    .app-links {
        flex-direction: column;
    }

    .auth-links {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        padding: 0.3rem 0;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    ul li {
        margin-right: 0;
    }
}
